{
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "extends": ["next", "prettier"],
  "rules": {
    "@next/next/no-html-link-for-pages": "off",
    "react/jsx-key": "off"
  }
}
